/* 宽度 */

$width-layout: 1100px;

/* 文字 */

$font-size-small: 12px;
$font-size-base:  14px;

/* 颜色 */

$color-bg: #292A35;
$color-bg-dark: #1F1F29;
$color-bg-light: #3E3F4E;
$color-bg-lighter: #F7F9FC;
$color-bg-gray: #F5F7FA;
$color-bg-gray-deep: #cbcbd2;

$color-word-dark: #4B556A;
$color-word: #69757D;
$color-base: #89909A;
$color-primary: #E2003B;
$color-pink: #FDF4F6;
$color-blue: #198DC8;
$color-orange: #F46361;
$color-green: #1ABC9C;
$color-yellow: #FFA501;
$color-pick-fb: #FBEFF2;
$color-grey: #F3F4F5;

$color-base-gray: #6F777E;
$color-base-light: #89909A;
$color-tips:#8B9196;

$color-gray-f3f4: #F3F4F5;
$color-gray-d4: #D4D4D4;
$color-gray-bb: #bbbbbb;
$color-gray-d6: #d6d6d6;

$color-pink-border: #F2CBD5;
$color-pink-bg: #FFF6F8;
